.field_input input{
    padding: 0 15px;
    font-size: 1.6rem;
    margin: 15px 0;
    transition: all 0.2s;
}

.field_input input:focus{
    outline: 0;
    box-shadow: 0px 0px 10px 0px rgba(37,168,72,1);
}

.field_input span{
    display: block;
    color: red;
    font-size: 0.9rem;
}