.field_button{
    background-color: transparent;
    width: 300px;
    padding: 6px;
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.2s;
}

.field_button:focus{
    outline: 0;
    box-shadow: 0px 0px 10px 0px rgba(37,168,72,1);
}