.modal{
    width: 450px;
    height: 300px;
    font-size: 2rem;
    font-weight: 800;
    background-color: lightgrey;
    border: 2px solid white;
}

.backdrop {
    position:fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 14, 14, 0.7);
}