.border-grey{
  border: 1px solid lightgrey; 
}

.text-center{
  text-align:center;
}

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.items-center{
  align-items: center;
}

.rounded-full{
  border-radius: 9999px;
}

.flex-column{
  flex-direction: column;
}

.h-100{
  height: 100%;
}

.border_blue{
  border: 3px solid skyblue;
}